*.d
!./builder/scripts.d
*.o
*.a
.version
config.asm
config.h
config_components.h
ffmpeg*
ffprobe*
ffbuild/.config
ffbuild/config.fate
ffbuild/config.log
ffbuild/config.mak
ffbuild/config.sh
libavcodec/bsf_list.c
libavcodec/codec_list.c
libavcodec/libavcodec.pc
libavcodec/libavcodec.version
libavcodec/parser_list.c
libavdevice/indev_list.c
libavdevice/libavdevice.pc
libavdevice/libavdevice.version
libavdevice/outdev_list.c
libavfilter/filter_list.c
libavfilter/libavfilter.pc
libavfilter/libavfilter.version
libavformat/demuxer_list.c
libavformat/libavformat.pc
libavformat/libavformat.version
libavformat/muxer_list.c
libavformat/protocol_list.c
libavutil/avconfig.h
libavutil/ffversion.h
libavutil/libavutil.pc
libavutil/libavutil.version
libpostproc/libpostproc.pc
libpostproc/libpostproc.version
libswresample/libswresample.pc
libswresample/libswresample.version
libswscale/libswscale.pc
libswscale/libswscale.version

doc/config.texi
doc/examples/pc-uninstalled/